@media (min-width: 992px) {
    .Pinguin {
        width: 75% !important;
    }
}
        @media (min-width: 992px) {
    .tekst {
        width: 75% !important;
        font-family: 'Montserrat', sans-serif;

    }
}
    .tekst {
        text-align: justify;

    }


.Penguin-img {
    width: 20px;
    height: 20px;
}

body .tekst1{
    font-family: 'Montserrat', sans-serif;
}

